@import "tailwindcss";

@theme {
  --color-ink: #0f0f0f;
  --color-ink-soft: #171717;
  --color-gold: #c8a24b;
  --color-gold-dark: #a8863a;
  --color-cream: #faf9f6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-cream);
  color: var(--color-ink);
}

/* filmstrip scrollbar hide */
.no-bar::-webkit-scrollbar { display: none; }
.no-bar { -ms-overflow-style: none; scrollbar-width: none; }